<html>
<head>
  <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
  <title>${subject}</title>
</head>

<body style="background: #f0f0f0;">
<table style="font:15px/1.25em 'Helvetica Neue',Arial,Helvetica;border:1px solid rgba(0, 0, 0, 0.3);border-radius:10px;padding:0;margin:50px auto;width:600px;background: #ffffff">
  <tr style="width: 100%">
    <th colspan="2"
        style="border-top-left-radius:4px;border-top-right-radius:4px;padding: 20px;text-align:center;color: #000000;font-weight: bold;border-bottom:1px solid rgba(0, 0, 0, 0.3)">
      WELCOME
    </th>
  </tr>

  <tr style="width: 100%">
    <td style="padding: 30px 0 30px 20px">
      <img src="${email_logo}" alt="689Cloud" border="0" width="155" class="CToWUd">
    </td>
    <td style="border-bottom-left-radius:4px;border-bottom-right-radius:4px;background:#fff;padding:30px 20px;color:#000">
      <h1 style="font-size:20px;margin-bottom:30px"> Hello ${user_name}, </h1>

      <p style="font-size:14px">
        Welcome to Viboo!
      </p>

      <p style="font-size:14px">
        We’re happy to have you on board! Your username is <b>${email}</b> please remember it to login
      </p>

      <p style="font-size:14px">
        Please contact Admin to get your password or you can <a href="${forgot_password_link}" style="width:fit-content">forgot password</a> then get the new one</b>
      </p>

    </td>
  </tr>
  <tr style="width: 100%">
    <td colspan="2">
      <p style="font-size:14px;text-align:center">
        <a href="${login_link}"
           style="width:fit-content;border-radius:5px;background: #FF8E25;color:#fff;display:block;font-weight:700;font-size:16px;line-height:1.25em;margin:0 auto 30px;padding:10px 30px;text-decoration:none;text-align:center"
           target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="12">
            <!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <path fill="#fff"
                  d="M217.9 105.9L340.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L217.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1L32 320c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM352 416l64 0c17.7 0 32-14.3 32-32l0-256c0-17.7-14.3-32-32-32l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32l64 0c53 0 96 43 96 96l0 256c0 53-43 96-96 96l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32z"/>
          </svg>&nbsp;
          Log In
        </a>
      </p>
    </td>
  </tr>
</table>

</body>
</html>
